@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
  background-image: url('/images/grid-bg.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  
}

.card {
  margin: 0 auto;
  padding: 2em;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 25%,
    #272781,
    #f0a606 25%,
    #272781
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 6s go linear infinite;
}

.card::before {
  filter: blur(2rem);
  opacity: 1;
}

@keyframes go {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
